<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <title>{% block page_title %}Main page{% endblock %}</title> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <form id="search" action="/">
            <input type="text" name="search_phrase" placeholder="Search in questions: ">
            <button type="submit">Search</button>
            <span class="clear"></span>
        </form>    
    </div>

    <div class="menu">
        <ul>
            {% if 'username' in session %}
            <li>
                <strong><span style="color: green;">Welcome back, {{ session['username'] }}</span></strong>
            </li>
            <li>
                <a href="/users">List users</a>
            </li>
            <li>
                <a href="/list">All questions</a>
            </li>
            <li>
                <a href="/">Latest questions</a>
            </li>
            <li>
                <a href="/add-question">Add question</a>
            </li>
            <li>
                <a href="add-comment">Add comment</a>
            </li>
            <li>
                <a href="new-answer">Add answer</a>
            </li>
            <li>
                <a class="logout" href="/logout"><strong>Logout</strong></a>
            </li>
            {% endif %}

            {% if 'username' not in session %}
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>
            {% endif %}        

            <div class="clear"></div>
        </ul>
    </div>    
